h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    text-align: center;
}

.important{
    color: red;
    font-weight: bold;
}

.lessimportant{
    color: blueviolet;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #d5deea;
}

.firstcat{
    font-weight: bold;
    font-style: italic;
    color: #324e76
}

div{
    text-align: center;
}